.info {
  font-family: "Nunito Semi Bold", sans-serif;
  margin-bottom: 20px;
  &__wrapper {
    text-align: center;
  }
  &__text {
    color: #a3a3a3;
    font-size: 20px;
    letter-spacing: 2px;
  }
}
